<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCases.TestLoginFunctionality"/>
      <class name="testCases.TestAlertsFunctionality"/>
      <class name="testCases.TestContextMenuFunctionality"/>
      <class name="testCases.TestDopdownFunctionality"/>
      <class name="testCases.TestDynemicallyLodingElements"/>
      <class name="testCases.TestFileUploadFunctionality"/>
      <class name="testCases.TestPasswordResetFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
